<configuration>
    <system.web>
        <compilation debug="true"/>
        <customErrors mode="Off" />
    </system.web>
    <appSettings>
        <add key="LocalDatabase" value="Server=DESKTOP-G1H9AR7;initial Catalog=shop;uid=sa;pwd=Stuart@2468;pooling=false"></add>
        <add key="Info1" value="EXEC SP_INFO "></add>
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="CreditTransaction.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>